<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Pixel+Emulator&display=swap" rel="stylesheet">

<div id="app" class="column">
  <template v-if="gamepad">
    <h4 class="title">
      Controller Calibration
    </h4>

    <div class="field">
      <label class="label">Intensity</label>
      <div class="control">
        <input
          class="slider"
          type="range"
          min="0"
          max="100"
          v-model="magnitude">
      </div>
    </div>

    <div class="field">
      <label class="label">Random Duration</label>
      <div class="control">
        <input
          class="slider"
          type="range"
          min="100"
          max="2000"
          v-model="duration">
      </div>
    </div>

    <div class="field">
      <label class="label">Control</label>
      <div class="control">
        <button
          class="button is-primary button-wide"
          type="button"
          @click="toggleGo('Normal')">
          {{ getButtonLabel('Normal') }}
        </button>
        <button
          class="button is-primary button-wide"
          type="button"
          @click="toggleGo('Random')">
          {{ getButtonLabel('Random') }}
        </button>
        <button
          class="button is-primary button-wide"
          type="button"
          @click="setDefaultValues">
          Default
        </button>
      </div>
    </div>
  </template>
  <div v-else>
    <h4 class="title">
      controller-calibration
    </h4>
    <h5 class="title is-5">
      Press any key on the controller.
    </h5>
  </div>
</div>

<script src="vue.js"></script>
<script src="script.js"></script>
